.bg
  {
    background-size: 200px;
    background-repeat: repeat;
    background-image: url("../paws3.png");
  }

  .single{
      transition: height 0.2s, box-shadow 0.3s;
  }
  .imgtop {
    width: 80%;
    height: auto;
    object-fit: cover;
}
