/*body
  {
    background-size: 200px;
    background-repeat: space;
    background-image: url("../paw.png");

  }
*/
  .single{
      transition: height 0.2s, box-shadow 0.3s;
  }
  .imgtop {
    width: 80%;
    height: auto;
    object-fit: cover;
}
